# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
#

Debug/
Release/
.*
*.o
data
vlfeat-adapter
include/vl/
include/fftw3.h
include/gist.h
lib/*
3rdparty/lear_gist-1.2/src/fftw3.h
3rdparty/lear_gist-1.2/src/*.a
